<form [formGroup]="form">

  <mat-form-field style="width: 15%; margin-left: 30dp; margin-top: 20dp;">
    <input matInput type="text" placeholder="Your favourite number" formControlName="number" name="number">
    <mat-error *ngIf="form.get('number')?.hasError('required')">
      Please enter a <strong>number</strong>.
    </mat-error>
    <mat-error *ngIf="form.get('number')?.hasError('min') || form.get('number')?.hasError('max')">
      Number must be between <strong>1 and 9</strong>.
    </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 15%; margin-left: 30dp; margin-top: 20dp;">
    <input matInput type="text" placeholder="Description" formControlName="description" name="descritpion">
    <mat-error *ngIf="form.get('description')?.hasError('required')">
      Please enter a <strong>descritpion</strong>.
    </mat-error>
    <mat-error *ngIf="form.get('description')?.hasError('numberOfWords')">
      Description length must match favourite number.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!form.valid" style="width: 5%;">Save</button>

</form>

<router-outlet></router-outlet>
